body {
  background-image: url('http://www.hbo.com/assets/images/series/game-of-thrones/downloads/stark/stark-twitter.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 800px;
}

.jumbotron {
  background-color: transparent;
  margin-top: 2%;
  margin-left: 27%;
  width: 60%;
}

.btn {
  margin-bottom: 100px;
  margin-left: 10px;
}

.character {
  font-style: italic;
}

.form-control {
  width: 180px;
}

.inline-flex, .get-quote-by-char {
  display: inline-flex;
}


.get-quote-by-char {
  margin-left: 60px;
}
